<a href="https://colab.research.google.com/github/Ananya-Upadhyaya/Ananya-Upadhyaya/blob/main/DataStructure_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Action performed by List 

# create an empty list
x=[]

In [3]:
# create List with values

List = [1,'Suraj',True,67,'vani']
List

[1, 'Suraj', True, 67, 'vani']

In [80]:
# list length

list = ["Cloud", "Star", "Moon"]
print(len(list))

3

In [4]:
# append 

x = [1,'Suraj',True,67,'vani','Hello']
x

[1, 'Suraj', True, 67, 'vani', 'Hello']

In [5]:
# Extend

x = [1,'Suraj']
x.extend([3,'Ananya'])
x

[1, 'Suraj', 3, 'Ananya']

In [8]:
# insert  (inserts the value in place of index 0)

x = [1,2,3,4,5]
x.insert(0,6)
x

[6, 1, 2, 3, 4, 5]

In [9]:
# delete (takes the indexed value to delete)

x =[1,2,3]
del x[1]
x

[1, 3]

In [10]:
# remove (removes the value)

x = [1,2,'Anu','Vish']
x.remove(1)
x

[2, 'Anu', 'Vish']

In [11]:
# reverse

y = [6, 1, 2, 3, 4, 5]
y.reverse()
y

[5, 4, 3, 2, 1, 6]

In [19]:
# sort

y = ['R','C','Python','Java','R']
y.sort(reverse = True)
y

['R', 'R', 'Python', 'Java', 'C']

In [20]:
#index

x = [10,40,55,30]
x.index(30)
x

[10, 40, 55, 30]

In [25]:
c = [1,10,36,1,56]
print(c.count(1))
c

2

[1, 10, 36, 1, 56]

In [26]:
# for loop

List = ['Apple','Grape']
for L in List:
  print(L)

Apple
Grape

In [27]:
# for in range

List = ['Apple','Grape','Banana']
for i in range(len(List)):
    print(List[i])

Apple
Grape
Banana

**TUPLE**

In [29]:
# empty tuple

tpl= ()
tpl

# with values

names = ('Jeff','Bill','Steve')
names

('Jeff', 'Bill', 'Steve')

In [30]:
# Tuple with mixed values

tpl = (1,'Hello',2.5)
tpl

(1, 'Hello', 2.5)

In [31]:
# nested tuple

tpl = ( "Hello",[8,5,9],(1,'Harry'))
tpl

('Hello', [8, 5, 9], (1, 'Harry'))

In [33]:
# accessing tuple elements using indexing

tpl = ('a','b','c','d','f')
tpl[0]
tpl[4]

'f'

In [34]:
# negative indexing

tpl = ('a','b','c','d','f')
tpl[-2]

'd'

In [35]:
tpl = ('a','b','c','d','f')
tpl[2]

'c'

In [36]:
# slicing

tpl =  ('Jeff','Bill','Steve',12,56)
tpl[1:4]

('Bill', 'Steve', 12)

In [37]:
tpl = ('a','b','c','d','f')
tpl[:]

('a', 'b', 'c', 'd', 'f')

In [40]:
# deleting tuple

x = ('Ananya','Vishwa','Shivani','Rohan')
del x

In [41]:
# while loop in tuple

tpl = ('Ananya','Vishwa','Shivani','Rohan')
i=0
while i < len(tpl):
  print(tpl[i])
  i = i+1

Ananya
Vishwa
Shivani
Rohan

In [45]:
# data types in tuple

tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

tuple3

(True, False, False)

In [46]:
# convert tuple to list

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

**SET**

In [47]:
# create a set

myset = {"Bike", "Car", "Motor vehicle"}
myset

{'Bike', 'Car', 'Motor vehicle'}

In [48]:
# duplicate values

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [49]:
# Add Set

add_set = set((1,2,3,4,5))
add_set

{1, 2, 3, 4, 5}

In [51]:
#update set

add_set.update((1,2,3,4,5,'Ananya','kiwi'))
add_set

{1, 2, 3, 4, 5, 'Ananya', 'kiwi'}

In [53]:
# remove

add_set.remove(4)
add_set

{1, 2, 3, 5, 'Ananya', 'kiwi'}

In [54]:
# loops

thisset = {"Bike", "Car", "Motor Vehicle"}

for x in thisset:
  print(x)

Motor Vehicle
Car
Bike

In [55]:
# join set union() method

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 3, 'a', 'c'}

In [56]:
# update

set1 = {"p", "q" , "r"}
set2 = {6, 9, 10}

set1.update(set2)
print(set1)

{'p', 'q', 6, 'r', 10, 9}

**DICTIONARY**

In [58]:
# create dict

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [59]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [60]:
# duplicate values

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [61]:
# adding values

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict["color"] = "red"
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [62]:
# update

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.update({"color": "black"})

In [64]:
# remove

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [65]:
# remove last inserted element

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.popitem()
print(dict)

{'brand': 'Ford', 'model': 'Mustang'}

In [66]:
# clear all

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.clear()
print(dict)

{}

In [70]:
# loops

for x in thisdict:
  print(x)

brand
model
year
color

In [71]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964
black

In [73]:
# values

for x in thisdict.keys():
  print(x)

brand
model
year
color

In [74]:
# item method

for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964
color black

In [77]:
# copy () method

thisdict = {
  "brand": "Benz",
  "model": "marsidez",
  "year": 1980
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Benz', 'model': 'marsidez', 'year': 1980}

In [79]:
# Three Dictionary

myfamily = {
  "member1" : {
    "name" : "Vadiraj",
    "year" : 1965
  },
  "member2" : {
    "name" : "Tara",
    "year" : 2010
  },
  "member3" : {
    "name" : "Lyra",
    "year" : 2011
  }
}

myfamily

{'member1': {'name': 'Vadiraj', 'year': 1965},
 'member2': {'name': 'Tara', 'year': 2010},
 'member3': {'name': 'Lyra', 'year': 2011}}