<a href="https://colab.research.google.com/github/Ananya-Upadhyaya/Ananya-Upadhyaya/blob/main/Excercise_2_script_files_19_09_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1 Write a program to take three names as input from a user in the single input() function call.

a, b, c = input("Enter three values: ").split()  
print("Enter Your First Name: ", a)  
print("Enter Your Last Name: ", b)  
print("Enter Your Age: ", c)  
print()

Enter three values: Ananya Upadhyaya 22
Enter Your First Name:  Ananya
Enter Your Last Name:  Upadhyaya
Enter Your Age:  22

In [5]:
#2. Write a program to print the following number pattern using a loop. 

#	1  

#	1 2 

#	1 2 3 

# 1 2 3 4 

#	1 2 3 4 5 

rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
#3. Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number 


n = int(input("Enter a number: "))

sum = 0

for i in range(n + 1):

   sum += i

print("The sum of all numbers from 1 to the given number is: ", sum)

Enter a number: 3
The sum of all numbers from 1 to the given number is:  6

In [14]:
#4. Print list in reverse order using a loop 

def Reverse(lst):
	new_lst = lst[::-1]
	return new_lst


lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

In [16]:
#5. Write a program to display all prime numbers within a range 

lower_num = int(input (" Enter the Lowest Range num: "))  
upper_num = int(input (" Enter the Upper Range num: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_num, upper_num + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

 Enter the Lowest Range num: 1
 Enter the Upper Range num: 10
The Prime Numbers in the range are:
2
3
5
7

In [17]:
#6. Find the factorial of a given number without using math module 


num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 6
The factorial of 6 is 720

In [18]:
#7. Print the following pattern 

#	* 

#	* *  

#	* * * 

#	* * * * 

#	* * * * * 

#	* * * * 

#	* * * 

#	* * 

#	* 

rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*