<a href="https://colab.research.google.com/github/Ananya-Upadhyaya/Ananya-Upadhyaya/blob/main/OOPS(23_09_22).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Write a Python class named Student with two attributes student_id, student_name. Add a new attribute student_class and display the entire attribute and their values of the said class.Now remove the student_name attribute and display the entire attribute with values**

In [41]:
class Student:
    student_id = 25
    student_name = "Nikhil"
print(Student.student_id)
print(Student.student_name)

#add attributes to student_class
Student.student_class = "Good Morning"
print(Student.student_class)

#remove the attribute student_name

del Student.student_name
#print(Student.student_name):-- error because student_name is deleted

print("ID",Student.student_id,"Hello",Student.student_class)

25
Nikhil
Good Morning
ID 25 Hello Good Morning

**2.write a python class to implement pow(x,n)**

In [69]:
class power:
  def __init__(self, x, n):
    self.x = x
    self.n = n
    print(self.x ** self.n)
print(pow(3,2))

9

In [73]:
class power:
   def pow(self, x, n):
        
        if n==0:
            return 1
        if n<0:
            return 1/self.pow(x,-n)
        pow = 1
        for i in range(n):
          pow = pow * x
        return pow
       

print(power().pow(1, 100));

1

**3.write a program to create a python class to reverse a string word by word**

In [49]:
class Reverse:
    def reverse_words(self, s):
        return ' '.join(reversed(s.split()))


print(Reverse().reverse_words('Hello Good Afternoon'))

Afternoon Good Hello

In [54]:


class reverse:
   def revr(self, str):
       s =str.split()[::1]
       s.reverse()
       res=" ".join(s)
       return res

str1=input("Enter a string : ")
print("Reverse of string word by word: \n",reverse().revr(str1));

Enter a string : Hello My Name Is Anu
Reverse of string word by word:
 Anu Is Name My Hello

**4.Write a Python class named Circle constructed by a radius and two methods which will compute the area and the perimeter of a circle**

In [83]:
class Circle():
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14
    
    def perimeter(self):
        return 2*self.radius*3.14

Circle = Circle(5)
print(Circle.area())
print(Circle.perimeter())

78.5
31.400000000000002

**5. Write a Python class to convert a roman numeral to an integer**

In [106]:
class roman:
    def roman_to_int(self, s):
        roman_val = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
        int_val = 0
        for i in range(len(s)):
           if i+1<len(s) and s[i:i+2] in roman_val:
             int_val += roman_val [s[i:i+2]]
             i+=2
           else:
             #print(i)
             int_val += roman_val[s[i]]
             i+=1
        return int_val

print(roman().roman_to_int('MMMM'))
print(roman().roman_to_int('C'))

4000
100