<a href="https://colab.research.google.com/github/Ananya-Upadhyaya/Ananya-Upadhyaya/blob/main/PySpark(12_10_22).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 35.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=89671ae4bbfd251664a99722f256303f0502fc5d84f98f5ae5306bf314a2ecf4
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark =spark.read.csv('DB.csv')

In [8]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [9]:
df_pyspark =spark.read.option('header', 'true').csv('DB.csv')

In [10]:
df_pyspark

DataFrame[movie: string, title: string, genres: string, year: string, Rating: string, Rotton Tomato: string]

In [11]:
df_pyspark =spark.read.option('header', 'true').csv('DB.csv',inferSchema=True)

In [12]:
df_pyspark

DataFrame[movie: int, title: string, genres: string, year: int, Rating: int, Rotton Tomato: int]

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.printSchema()

root
 |-- movie: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Rotton Tomato: integer (nullable = true)

In [15]:
df_pyspark.show()

+------+--------------------+--------------------+-----+------+-------------+
| movie|               title|              genres| year|Rating|Rotton Tomato|
+------+--------------------+--------------------+-----+------+-------------+
|108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|
| 32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|
|  7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|
|  7243|Intolerance: Love...|               Drama| 1915|     4|           82|
| 62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|
|  8511|      Immigrant, The|              Comedy| 1917|     4|           59|
|  3309|       Dog's Life, A|              Comedy| 1917|     3|           83|
| 72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|
|  6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|
| 25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|
| 59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|
|  3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|
| 83096|  Haunted House, The|              Comedy| 1920|     9|           61|
| 83318|           Goat, The|              Comedy| 1921|     8|           86|
| 83322|           Boat, The|              Comedy| 1920|     4|           65|
| 83359|     Play House, The|              Comedy| 1921|     6|           53|
|  1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|
|  4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|
| 25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|
| 44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|
+------+--------------------+--------------------+-----+------+-------------+
only showing top 20 rows

In [16]:
df_pyspark.head(5)

[Row(movie=108583, title='Fawlty Towers (1975', genres='Comedy', year=-1980, Rating=1, Rotton Tomato=54),
 Row(movie=32898, title='Trip to the Moon, A (Voyage dans la lune, Le)', genres='Action|Adventure|Fantasy|Sci-Fi', year=1902, Rating=7, Rotton Tomato=80),
 Row(movie=7065, title='Birth of a Nation, The', genres='Drama|War', year=1915, Rating=6, Rotton Tomato=92),
 Row(movie=7243, title="Intolerance: Love's Struggle Throughout the Ages", genres='Drama', year=1915, Rating=4, Rotton Tomato=82),
 Row(movie=62383, title='20,000 Leagues Under the Sea', genres='Action|Adventure|Sci-Fi', year=1915, Rating=9, Rotton Tomato=92)]

In [17]:
df_pyspark.tail(3)

[Row(movie=151307, title='The Lovers and the', genres='(no genres listed)', year=1929, Rating=8, Rotton Tomato=97),
 Row(movie=162376, title='Stranger', genres='Drama', year=1930, Rating=4, Rotton Tomato=76),
 Row(movie=164979, title="Women of '69, U", genres='Documentary', year=1931, Rating=5, Rotton Tomato=68)]

In [18]:
df_pyspark.select("movie","title","genres","Rating").show()

+------+--------------------+--------------------+------+
| movie|               title|              genres|Rating|
+------+--------------------+--------------------+------+
|108583| Fawlty Towers (1975|              Comedy|     1|
| 32898|Trip to the Moon,...|Action|Adventure|...|     7|
|  7065|Birth of a Nation...|           Drama|War|     6|
|  7243|Intolerance: Love...|               Drama|     4|
| 62383|20,000 Leagues Un...|Action|Adventure|...|     9|
|  8511|      Immigrant, The|              Comedy|     4|
|  3309|       Dog's Life, A|              Comedy|     3|
| 72626|  Billy Blazes, Esq.|      Comedy|Western|     2|
|  6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror|     4|
| 25737|Golem, The (Golem...|      Fantasy|Horror|     8|
| 59945|  Mark of Zorro, The|Adventure|Romance...|     8|
|  3310|            Kid, The|        Comedy|Drama|     8|
| 83096|  Haunted House, The|              Comedy|     9|
| 83318|           Goat, The|              Comedy|     8|
| 83322|           Boat, The|              Comedy|     4|
| 83359|     Play House, The|              Comedy|     6|
|  1348|Nosferatu (Nosfer...|              Horror|     3|
|  4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...|     2|
| 25744|Haxan: Witchcraft...|  Documentary|Horror|     6|
| 44587| Nanook of the North|   Documentary|Drama|     2|
+------+--------------------+--------------------+------+
only showing top 20 rows

In [19]:
df_pyspark = df_pyspark.withColumn("Rating + 2" , df_pyspark["Rating"]+2)
df_pyspark

DataFrame[movie: int, title: string, genres: string, year: int, Rating: int, Rotton Tomato: int, Rating + 2: int]

In [20]:
df_pyspark.show()

+------+--------------------+--------------------+-----+------+-------------+----------+
| movie|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+------+--------------------+--------------------+-----+------+-------------+----------+
|108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
| 32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|  7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|  7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
| 62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|  8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|  3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
| 72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|  6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
| 25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
| 59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|  3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
| 83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
| 83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
| 83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
| 83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|  1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|  4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
| 25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
| 44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [21]:
df_pyspark = df_pyspark.drop("year + 3")

In [22]:
df_pyspark.show()

+------+--------------------+--------------------+-----+------+-------------+----------+
| movie|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+------+--------------------+--------------------+-----+------+-------------+----------+
|108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
| 32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|  7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|  7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
| 62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|  8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|  3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
| 72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|  6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
| 25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
| 59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|  3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
| 83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
| 83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
| 83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
| 83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|  1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|  4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
| 25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
| 44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [23]:
df_pyspark = df_pyspark.drop("Rating + 3")
df_pyspark.show()

+------+--------------------+--------------------+-----+------+-------------+----------+
| movie|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+------+--------------------+--------------------+-----+------+-------------+----------+
|108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
| 32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|  7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|  7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
| 62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|  8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|  3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
| 72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|  6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
| 25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
| 59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|  3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
| 83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
| 83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
| 83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
| 83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|  1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|  4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
| 25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
| 44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [24]:
df_pyspark = df_pyspark.withColumnRenamed('movie' , 'movie name')
df_pyspark.show()

+----------+--------------------+--------------------+-----+------+-------------+----------+
|movie name|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+-----+------+-------------+----------+
|    108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
|     32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|      7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|      7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
|     62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|      8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|      3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
|     72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|      6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
|     25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
|     59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|      3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
|     83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
|     83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
|     83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
|     83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|      1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
|     25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
|     44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+----------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [25]:
df_pyspark.na.drop().show()

+----------+--------------------+--------------------+-----+------+-------------+----------+
|movie name|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+-----+------+-------------+----------+
|    108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
|     32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|      7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|      7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
|     62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|      8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|      3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
|     72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|      6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
|     25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
|     59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|      3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
|     83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
|     83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
|     83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
|     83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|      1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
|     25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
|     44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+----------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [26]:
##how = any

df_pyspark.na.drop(how="any").show()

+----------+--------------------+--------------------+-----+------+-------------+----------+
|movie name|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+-----+------+-------------+----------+
|    108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
|     32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|      7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|      7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
|     62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|      8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|      3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
|     72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|      6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
|     25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
|     59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|      3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
|     83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
|     83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
|     83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
|     83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|      1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
|     25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
|     44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+----------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [27]:
df_pyspark.na.drop(how='any', thresh=3).show()

+----------+--------------------+--------------------+-----+------+-------------+----------+
|movie name|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+-----+------+-------------+----------+
|    108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
|     32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|      7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|      7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
|     62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|      8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|      3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
|     72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|      6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
|     25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
|     59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|      3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
|     83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
|     83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
|     83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
|     83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|      1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
|     25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
|     44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+----------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [28]:
df_pyspark.na.drop(subset=['year']).show()

+----------+--------------------+--------------------+-----+------+-------------+----------+
|movie name|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+-----+------+-------------+----------+
|    108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
|     32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|      7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|      7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
|     62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|      8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|      3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
|     72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|      6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
|     25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
|     59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|      3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
|     83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
|     83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
|     83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
|     83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|      1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
|     25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
|     44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+----------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [29]:
##Filling the Missing Values
x=df_pyspark.na.fill('Missing Values',['Rating'])
x.show()

+----------+--------------------+--------------------+-----+------+-------------+----------+
|movie name|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+-----+------+-------------+----------+
|    108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
|     32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|
|      7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|
|      7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
|     62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|
|      8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|      3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
|     72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|      6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
|     25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|
|     59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|
|      3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|
|     83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|
|     83318|           Goat, The|              Comedy| 1921|     8|           86|        10|
|     83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
|     83359|     Play House, The|              Comedy| 1921|     6|           53|         8|
|      1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
|     25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|
|     44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
+----------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [30]:
from pyspark.ml.feature import Imputer

In [31]:
impute =Imputer(inputCols=['year','Rating'],
                outputCols=["{}_imputed".format(c) for c in ['year','Rating'] ]).setStrategy('mean')

In [32]:
print(impute)

Imputer_a697daf44e97

In [33]:
#adding the imputation cols to df

x=impute.fit(df_pyspark).transform(df_pyspark)
x.show()

+----------+--------------------+--------------------+-----+------+-------------+----------+------------+--------------+
|movie name|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|year_imputed|Rating_imputed|
+----------+--------------------+--------------------+-----+------+-------------+----------+------------+--------------+
|    108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|       -1980|             1|
|     32898|Trip to the Moon,...|Action|Adventure|...| 1902|     7|           80|         9|        1902|             7|
|      7065|Birth of a Nation...|           Drama|War| 1915|     6|           92|         8|        1915|             6|
|      7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|        1915|             4|
|     62383|20,000 Leagues Un...|Action|Adventure|...| 1915|     9|           92|        11|        1915|             9|
|      8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|        1917|             4|
|      3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|        1917|             3|
|     72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|        1918|             2|
|      6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|        1919|             4|
|     25737|Golem, The (Golem...|      Fantasy|Horror| 1919|     8|           50|        10|        1919|             8|
|     59945|  Mark of Zorro, The|Adventure|Romance...| 1919|     8|           67|        10|        1919|             8|
|      3310|            Kid, The|        Comedy|Drama| 1921|     8|           57|        10|        1921|             8|
|     83096|  Haunted House, The|              Comedy| 1920|     9|           61|        11|        1920|             9|
|     83318|           Goat, The|              Comedy| 1921|     8|           86|        10|        1921|             8|
|     83322|           Boat, The|              Comedy| 1920|     4|           65|         6|        1920|             4|
|     83359|     Play House, The|              Comedy| 1921|     6|           53|         8|        1921|             6|
|      1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|        1922|             3|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|        1921|             2|
|     25744|Haxan: Witchcraft...|  Documentary|Horror| 1922|     6|           83|         8|        1922|             6|
|     44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|        1922|             2|
+----------+--------------------+--------------------+-----+------+-------------+----------+------------+--------------+
only showing top 20 rows

In [35]:
from pyspark.sql import SparkSession

In [51]:
# filter operations

df_pyspark.filter('year>1980').show()

+----------+--------------------+--------------------+----+------+-------------+----------+
|movie name|               title|              genres|year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+----+------+-------------+----------+
|      1033|Fox and the Hound...|Animation|Childre...|1981|     6|           81|         8|
|      1124|      On Golden Pond|               Drama|1981|     2|           97|         4|
|      1198|Raiders of the Lo...|    Action|Adventure|1981|     6|           88|         8|
|      1335|         Blood Beach|      Horror|Mystery|1981|     9|           61|        11|
|      1663|             Stripes|          Comedy|War|1981|     9|           54|        11|
|      1983|        Halloween II|              Horror|1981|     7|           93|         9|
|      2044|Devil and Max Dev...|      Comedy|Fantasy|1981|     1|           88|         3|
|      2254|             Choices|               Drama|1981|     5|           56|         7|
|      2639|      Mommie Dearest|               Drama|1981|     9|           52|        11|
|      2790|Final Conflict, T...|     Horror|Thriller|1981|     2|           90|         4|
|      2872|           Excalibur|   Adventure|Fantasy|1981|     6|           63|         8|
|      2878|          Hell Night|              Horror|1981|     4|           57|         6|
|      2917|           Body Heat|      Crime|Thriller|1981|     2|           63|         4|
|      2929|                Reds|       Drama|Romance|1981|     2|           83|         4|
|      2989|  For Your Eyes Only|Action|Adventure|...|1981|     7|           57|         9|
|      3029|          Nighthawks|        Action|Drama|1981|     3|           73|         5|
|      3036|Quest for Fire (G...|     Adventure|Drama|1981|     9|           95|        11|
|      3048|   Under the Rainbow|              Comedy|1981|     3|           97|         5|
|      3397|Great Muppet Cape...|     Children|Comedy|1981|     6|           74|         8|
|      3524|              Arthur|      Comedy|Romance|1981|     7|           98|         9|
+----------+--------------------+--------------------+----+------+-------------+----------+
only showing top 20 rows

In [42]:
df_pyspark.filter('Rating<7').select(['year','title']).show()

+-----+--------------------+
| year|               title|
+-----+--------------------+
|-1980| Fawlty Towers (1975|
| 1915|Birth of a Nation...|
| 1915|Intolerance: Love...|
| 1917|      Immigrant, The|
| 1917|       Dog's Life, A|
| 1918|  Billy Blazes, Esq.|
| 1919|Cabinet of Dr. Ca...|
| 1920|           Boat, The|
| 1921|     Play House, The|
| 1922|Nosferatu (Nosfer...|
| 1921|Dr. Mabuse: The G...|
| 1922|Haxan: Witchcraft...|
| 1922| Nanook of the North|
| 1922|       Paleface, The|
| 1921|                Cops|
| 1923|          Three Ages|
| 1924|      Navigator, The|
| 1924|Thief of Bagdad, The|
| 1923|        Sherlock Jr.|
| 1923|               Greed|
+-----+--------------------+
only showing top 20 rows

In [44]:
df_pyspark.filter(df_pyspark["Rating"]<=5).show()

+----------+--------------------+--------------------+-----+------+-------------+----------+
|movie name|               title|              genres| year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+-----+------+-------------+----------+
|    108583| Fawlty Towers (1975|              Comedy|-1980|     1|           54|         3|
|      7243|Intolerance: Love...|               Drama| 1915|     4|           82|         6|
|      8511|      Immigrant, The|              Comedy| 1917|     4|           59|         6|
|      3309|       Dog's Life, A|              Comedy| 1917|     3|           83|         5|
|     72626|  Billy Blazes, Esq.|      Comedy|Western| 1918|     2|           63|         4|
|      6987|Cabinet of Dr. Ca...|Crime|Fantasy|Horror| 1919|     4|           63|         6|
|     83322|           Boat, The|              Comedy| 1920|     4|           65|         6|
|      1348|Nosferatu (Nosfer...|              Horror| 1922|     3|           65|         5|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...| 1921|     2|           69|         4|
|     44587| Nanook of the North|   Documentary|Drama| 1922|     2|           77|         4|
|     83361|       Paleface, The|              Comedy| 1922|     1|           81|         3|
|     83411|                Cops|              Comedy| 1921|     4|           85|         6|
|      7074|      Navigator, The|              Comedy| 1924|     2|           68|         4|
|     25750|        Sherlock Jr.|Comedy|Fantasy|Ro...| 1923|     2|           59|         4|
|      3629|      Gold Rush, The|Adventure|Comedy|...| 1925|     5|           90|         7|
|      3742| Battleship Potemkin|           Drama|War| 1925|     1|           97|         3|
|      4277|     Lost World, The|    Adventure|Sci-Fi| 1925|     5|           86|         7|
|      6986|Ben-Hur: A Tale o...|Adventure|Drama|R...| 1924|     4|           64|         6|
|     25755|Phantom of the Op...|        Drama|Horror| 1925|     1|           97|         3|
|      4404|               Faust|Drama|Fantasy|Horror| 1926|     1|           73|         3|
+----------+--------------------+--------------------+-----+------+-------------+----------+
only showing top 20 rows

In [45]:
df_pyspark.filter(df_pyspark["Rating"]<=5).select(['year','title']).show()

+-----+--------------------+
| year|               title|
+-----+--------------------+
|-1980| Fawlty Towers (1975|
| 1915|Intolerance: Love...|
| 1917|      Immigrant, The|
| 1917|       Dog's Life, A|
| 1918|  Billy Blazes, Esq.|
| 1919|Cabinet of Dr. Ca...|
| 1920|           Boat, The|
| 1922|Nosferatu (Nosfer...|
| 1921|Dr. Mabuse: The G...|
| 1922| Nanook of the North|
| 1922|       Paleface, The|
| 1921|                Cops|
| 1924|      Navigator, The|
| 1923|        Sherlock Jr.|
| 1925|      Gold Rush, The|
| 1925| Battleship Potemkin|
| 1925|     Lost World, The|
| 1924|Ben-Hur: A Tale o...|
| 1925|Phantom of the Op...|
| 1926|               Faust|
+-----+--------------------+
only showing top 20 rows

In [55]:
df_pyspark.filter((df_pyspark['Rating']<=7) & (df_pyspark['Rating']>=2)).show(5)

+----------+--------------------+--------------------+----+------+-------------+----------+
|movie name|               title|              genres|year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+----+------+-------------+----------+
|     32898|Trip to the Moon,...|Action|Adventure|...|1902|     7|           80|         9|
|      7065|Birth of a Nation...|           Drama|War|1915|     6|           92|         8|
|      7243|Intolerance: Love...|               Drama|1915|     4|           82|         6|
|      8511|      Immigrant, The|              Comedy|1917|     4|           59|         6|
|      3309|       Dog's Life, A|              Comedy|1917|     3|           83|         5|
+----------+--------------------+--------------------+----+------+-------------+----------+
only showing top 5 rows

In [56]:
df_pyspark.filter(~(df_pyspark["year"]<=1950)| (df_pyspark["year"] > 1980)).show(5)

+----------+--------------------+--------------------+----+------+-------------+----------+
|movie name|               title|              genres|year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+----+------+-------------+----------+
|       969|  African Queen, The|Adventure|Comedy|...|1951|     2|           71|         4|
|      1032| Alice in Wonderland|Adventure|Animati...|1951|     4|           84|         6|
|      3475| Place in the Sun, A|       Drama|Romance|1951|    10|           98|        12|
|      3657|Pandora and the F...|               Drama|1951|     1|           96|         3|
|      3736|Ace in the Hole (...|               Drama|1951|     7|           79|         9|
+----------+--------------------+--------------------+----+------+-------------+----------+
only showing top 5 rows

In [58]:
df_pyspark.filter((df_pyspark['Rotton Tomato']<=70) & (df_pyspark['Rotton Tomato']>=65)).show(5)

+----------+--------------------+--------------------+----+------+-------------+----------+
|movie name|               title|              genres|year|Rating|Rotton Tomato|Rating + 2|
+----------+--------------------+--------------------+----+------+-------------+----------+
|     59945|  Mark of Zorro, The|Adventure|Romance...|1919|     8|           67|        10|
|     83322|           Boat, The|              Comedy|1920|     4|           65|         6|
|      1348|Nosferatu (Nosfer...|              Horror|1922|     3|           65|         5|
|      4768|Dr. Mabuse: The G...|Crime|Mystery|Thr...|1921|     2|           69|         4|
|      4405|Last Laugh, The (...|               Drama|1924|     9|           65|        11|
+----------+--------------------+--------------------+----+------+-------------+----------+
only showing top 5 rows

**pyspark Groupby and aggregate functions**

In [59]:
from pyspark.sql import SparkSession

In [60]:
spark = SparkSession.builder.appName('Aggregation').getOrCreate()

In [79]:
df1 =spark.read.csv('newtest.csv',header=True,inferSchema=True)

In [80]:
df1.show(5)

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
| Krish|Data Science| 10000|
| Krish|         IOT|  5000|
|Mahesh|    Big Data|  4000|
| Krish|    Big Data|  4000|
|Mahesh|Data Science|  3000|
+------+------------+------+
only showing top 5 rows

In [81]:
# groupby

df1.groupby('Name').sum().show(5)

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [82]:
df1.groupby('Departments').avg().show(5)

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [83]:
df1.groupby('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [84]:
df1.groupby('Name').mean().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [85]:
df1.groupby('Departments').max().show()

+------------+-----------+
| Departments|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [86]:
# preparing the data

data = [('James',"Sales",3000),\
        ('Micheal',"Sales",4600),\
        ('Maria',"Sales",4100),\
        ('Robert',"Finance",3000),\
        ('James',"Sales",3000),\
        ('Scott',"Finance",3900),\
        ('Jen',"Finance",3900),\
        ('Jeff',"Marketing",3000),\
        ('Kumar',"Marketing",2000),\
        ('Saif',"Sale",4100)]

columns= ['Employee_Name','Department','Salary']
dataframe=spark.createDataFrame(data=data,schema=columns)

In [87]:
dataframe.printSchema()

root
 |-- Employee_Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

In [88]:
dataframe.show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Micheal|     Sales|  4600|
|        Maria|     Sales|  4100|
|       Robert|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3900|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|      Sale|  4100|
+-------------+----------+------+

In [89]:
dataframe.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
+-------------+----------+------+

In [90]:
x=dataframe.distinct()
x=dataframe.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
+-------------+----------+------+

In [91]:
y=dataframe.dropDuplicates()

In [92]:
y.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Jen          |Finance   |3900  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
|Jeff         |Marketing |3000  |
|Scott        |Finance   |3900  |
+-------------+----------+------+

In [94]:
z=dataframe.dropDuplicates(["Department","Salary"])

In [95]:
z.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|Robert       |Finance   |3000  |
|Scott        |Finance   |3900  |
|Kumar        |Marketing |2000  |
|Jeff         |Marketing |3000  |
|Saif         |Sale      |4100  |
|James        |Sales     |3000  |
|Maria        |Sales     |4100  |
|Micheal      |Sales     |4600  |
+-------------+----------+------+

In [96]:
df1=spark.createDataFrame(data=data,schema=columns)

In [97]:
df1.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
+-------------+----------+------+

In [99]:
#merging 2 df
unified=dataframe.union(df1)

In [100]:
unified.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
|James        |Sales     |3000  |
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
+-------------+----------+------+

In [101]:
unified1=dataframe.unionAll(df1)

In [102]:
unified1.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
|James        |Sales     |3000  |
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
+-------------+----------+------+

In [103]:
disDF=dataframe.union(df1).distinct()

In [104]:
disDF.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|Micheal      |Sales     |4600  |
|Maria        |Sales     |4100  |
|Robert       |Finance   |3000  |
|James        |Sales     |3000  |
|Jen          |Finance   |3900  |
|Kumar        |Marketing |2000  |
|Saif         |Sale      |4100  |
|Jeff         |Marketing |3000  |
|Scott        |Finance   |3900  |
+-------------+----------+------+

In [105]:
dataframe.union(df1).distinct().count()

9

In [108]:
#converting the pyspark dataframe to pandas

pandasDF=dataframe.toPandas()

In [109]:
type(dataframe)

pyspark.sql.dataframe.DataFrame

In [111]:
type(pandasDF)

pandas.core.frame.DataFrame